cryptography == 3.3.2
datrie == 0.8.2
dnslib == 0.9.17
future == 0.18.2
genshi == 0.7.3
hid-converge == 2.0.1.1
htmlparser == 0.0.2
httpsproxy-urllib2 == 1.0
import-java == 0.6
lxml == 4.6.5
netifaces == 0.10.4
protobuf == 3.18.3
pyOpenSSL == 19.0.0
python-ntlm == 1.1.0
python-ntlm-fixed == 1.0
pywin32 == 301
win32compat == 221.26
win32ext == 221.2
